* { /* для всіх елементів сторінки */
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;   
    font-weight: 100;
    font-weight: lighter;
}

.nav { /* редагування розміщення heading */
    display: flex;
    height: 35vh;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 160px;
}

h1, h2 { /* відсутність відступів у заголовків за замовчуванням */
    padding: 0;
    margin: 0;
}

ul, li { /* розташування списків */
    display: flex;
    align-items: center;
}

.container { /* задання початкової ширини контейнера */
    width: 2000px;
    /* height: 250px; */
    margin: 0 auto; /* позиціонування по центру */
}

.header { /* редагування вигляду header */
    background: black center no-repeat; /* встановлення зображення */
    background-size: cover; 
    height: 25vh; 
}

.header a { /* встановлення стилю */
    color: white;
}

.header_title a { /* встановлення стилю для логотипа */
    font-size: 60px;  
    letter-spacing: 10px;
}

.menu { /* редагування вигляду головної панелі */
    margin-top: 35px;
    display: flex; /* розташування на одному рівні */
    justify-content: space-between; /* відстань між */
}

.menu a { /* редагування вигляду тегів */
    font-size: 25px;
    letter-spacing: 0px;
    margin-right: 30px; /* відступи між розділами меню */
}

.btn { /* програмування кнопки */
    padding: 18px;
    border: 2px solid white;
    font-size: 27px;
    line-height: px;
}

.btn:hover { /* зміна вигляду кнопки при наведенні, псевдоклас */
    background-color: white;
    color: black;
    transition: .4s ease;
}

.btn2 { /* програмування кнопки */
    padding: 18px;
    border: 2px solid black;
    font-size: 27px;
    line-height: px;
    color: black;
}

.btn2:hover { /* зміна вигляду кнопки при наведенні, псевдоклас */
    background-color: black;
    color: white;
    transition: .4s ease;
}

.welcome { /* редагування вигляду блоку */
    padding-top: 10vh;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10vh;
}

.image {
    flex: 1;
    margin-right: 20px;
    width: 100px;
}

.text {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.main h1 {
    font-size: 65px; 
    letter-spacing: 7px; 
    line-height: 2em;
}

.description {
    display: flex;
    align-items: center;
    padding-bottom: 10vh;
}

.welcome h1 {
    font-size: 40px; 
    letter-spacing: 3px; 
    line-height: 0em;
}

.welcome p {
    font-size: 25px; 
    letter-spacing: 1px; 
    line-height: 5em;
}

.text h1 { /* редагування вигляду заголовка */
    font-size: 40px; 
    letter-spacing: 0px; 
    line-height: 2em;
    color: black;
    /* padding-bottom: 160px; */
}

/* .text h2 { /* редагування вигляду заголовка 
    font-size: 25px; 
    letter-spacing: 0px; 
    line-height: 2em;
} */

.text p { /* редагування вигляду тексту */
    font-size: 25px; 
    text-align: justify;
    justify-content: end;
    line-height: 2em;
}

.footer { /* створення вигляду footer */
    background-color: black;
    height: 184px;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 80px;
}